.container {
  background-color: bisque;
}

.cards-list {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
  .cards-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
