.container {
  background-color: rgb(224, 221, 221);
  display: flex;
  margin-bottom: 1rem;
  width: min-content;
}

.text {
  padding: 2rem;
  font-size: 1.5rem;
  min-width: 500px;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text {
    min-width: unset;
    font-size: 1rem;
    width: 80vw;
  }

  .picture {
    width: 100%;
  }
}
