.container {
  padding: 1rem;
}

.btn {
  background-color: green;
  color: white;
  text-transform: uppercase;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  box-shadow: 2px 2px 4px black;
  cursor: pointer;
}
