.container {
  padding: 2rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  margin: 1rem;
  width: 300px;
  min-width: 280px;
  height: 420px;
  background-color: white;
}

.container:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.picture {
  height: 100px;
  margin-bottom: 1rem;
}

.img {
  height: 100%;
  border-radius: 50%;
}

.text {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.author {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
