.container {
  padding: 1rem;
  width: 300px;
  margin: 1rem;
}

.container:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.percentage {
  color: green;
  margin-bottom: 1rem;
  font-size: 2rem;
  min-width: 100px;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    justify-content: space-evenly;
    width: unset;
  }
}
