.container {
  padding: 1rem;
  width: 300px;
}

.percentage {
  color: green;
  margin-bottom: 1rem;
  font-size: 2rem;
  min-width: 100px;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    justify-content: space-evenly;
    width: unset;
  }
}
